.footer {
  display: flex;
  justify-content: space-between;
  grid-row: 4;
  width: 100%;
  margin-top: 10rem;
  grid-column: 1/-1;
  align-items: flex-end;
}

.logo {
  height: 5rem;
  width: auto;
}

.copyright {
  color: #1ba7c05d;
}

.mail {
  color: #1ba7c0;
}

@media screen and (max-width: 1528px) {
  .footer {
    grid-row: auto;
  }
}

@media screen and (max-width: 528px) {
  .logo {
    display: none;
  }
}
